.container {
	width: 550px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	margin-top: 10rem;
}

.title {
	text-align: center;
}

.radio__item {
	display: grid;
	grid-template-columns: 20px 2fr 1fr;
	align-items: center;
	gap: 10px;
}
