.container {
	width: 100%;
	height: 100vh;
	background-image: url("https://www.autopista.es/uploads/s1/10/26/70/47/cuanto-te-puedes-ahorrar-si-repostas-el-coche-en-una-gasolinera-low-cost-foto-istock.jpeg");
	background-position: center;
	background-size: cover;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.5); 
	
	display: flex;
	justify-content: center;
	align-items: center;
  }